<div class="login-container">
  <span>שלום {{getUserName()}}</span>

  <button *ngIf="!isConnected()" mat-button (click)="login()">
    <mat-icon>exit_to_app</mat-icon>
    <span>כניסה</span>
  </button>

  <button *ngIf="isConnected()" mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>יציאה</span>
  </button>
</div>

