.container {
  width: 90%;
  margin: auto;
}

.product-image-display {
  position: relative;
  text-align: center;

  h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00000052;
    width: 103%;
  }

  img {
    border-radius: 5%;
    border: white groove;
    display: block;
    margin: auto;
    width: 100%;
  }
}

.price-for-kilo {
  .w30;
  .inline;

  h1, h3 {
    .inline;
    margin: 0;
  }
}

.price-container {
  .w30;
  display: inline-table;
  text-align: center;
  border-bottom: red groove;

  h3 {
    margin: 0;
  }
}

.price-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-container {
  width: 100%;
  display: flex;
  margin-top: 5%;
}

.total-price {
}

.price-input {
  width: 5vw;
  text-align: center;
  padding: 0;
  font-size: 28px;
  border: 1px solid white;
  line-height: 20px;
  margin: 0;
  background: transparent;
  border: none;
  color: white;
}

.radio-buttons-container {
  margin: auto;
  font-weight: bolder;
  text-align: center;
  .pb
}

.add-to-cart-button {
  text-align: center;
  .pb
}

.inline {
  display: inline-table;
}
.left {
  text-align: left;
}
.margin-left {
  margin-left: 2%;
}
.w30 {
  width: 30%;
}
.w70 {
  width: 70%;
}
.spacer {
  flex: 1 1 auto;
}
.animate {
  //todo: animate price total
}
.pl {
   padding-left: 3%;
 }
.pb {
  padding-bottom: 3%;
}
.radio-button {
  ::ng-deep {
    .mat-radio-outer-circle {
      border-color: rgba(256, 256, 256, 0.3);
    }
  }
}

