<div class="dialog-body">
  <button mat-icon-button (click)="cancel()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  <div class="container">
    <div class="product-image-display">
      <img src="{{product.image}}">
      <h2>{{product.name}}</h2>
    </div>

    <div class="row-container">
      <div class="price-for-kilo">
        <h3>₪</h3>
        <h1>{{product.priceForKilo}}</h1>
        <h3>לק"ג</h3>
      </div>
      <span class="spacer"></span>
      <div class="price-container">
        <h3>כמות:</h3>
        <div class="price-selection">
          <button mat-icon-button (click)="decreaseSelectedWeight()"> - </button>
          <input matInput class="price-input" type="number" min="0.5" step="0.5" max="10" [(ngModel)]="selectedWeight">
          <button mat-icon-button (click)="increaseSelectedWeight()"> + </button>
        </div>
      </div>
    </div>

    <div class="left">
      <div class="total-price">
        <h1 class="inline margin-left">סה"כ:</h1>
        <h3 class="inline">₪</h3>
        <h1 class="inline animate">{{selectedWeight * product.priceForKilo}}</h1>
      </div>
    </div>

    <div class="radio-buttons-container">
      <span class="pl">אפשרויות חיתוך:</span>
      <mat-radio-group [(ngModel)]="selectedSliceOption" required>
        <mat-radio-button class="radio-button"
                          *ngFor="let sliceOption of product.slicingOptions"
                          [value]="sliceOption">
          {{sliceOption}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="radio-buttons-container">
      <span class="pl">חלוקה למגשים:</span>
      <mat-radio-group [(ngModel)]="selectedTrayDivision" required>
        <mat-radio-button class="radio-button"
                          *ngFor="let tray of trayDivision | keyvalue"
                          [value]="tray.key">
          {{tray.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="add-to-cart-button">
      <button mat-flat-button color="primary" (click)="addToCart()">הוסף לעגלה</button>
    </div>
  </div>
</div>
