<div class="container">
  <div class="ruler">
    <div>
      <img src="{{image}}">
      <h1 class="title">{{title}}</h1>
    </div>
    <button class="expand-button" mat-button (click)="toggleView()">
      <h1 class="title">{{buttonText}}</h1>
    </button>
  </div>

  <div style="text-align: center;">
    <div class="slider-container" *ngIf="!isExpanded">
      <div class="product" *ngFor="let product of products" (click)="openProductDialog(product)">
        <img src="{{getImage(product.image)}}">
        <h2>{{product.name}}</h2>
        <span>{{product.priceForKilo}}₪</span>
      </div>
    </div>
    <div *ngIf="isExpanded">
      <div class="product" *ngFor="let product of products" (click)="openProductDialog(product)">
        <img src="{{getImage(product.image)}}">
        <h2>{{product.name}}</h2>
        <span>{{product.priceForKilo}}₪</span>
      </div>
    </div>
  </div>
</div>
