.container {
  direction: rtl;
}

.title {
  display: inline-table;
  vertical-align: super;
  margin: 0;
}

.product {
  display: inline-table;
  margin-left: 1%;
  margin-bottom: 1%;
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;

  img {
    border-radius: 20%;
    border: white groove;
    transition: all .4s ease-out;
  }

  span {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    background: white;
    color: #da2128;
    border-radius: 20%;
    font-weight: bold;
    font-size: 150%;
    transition: all .4s ease-out;
  }

  h2 {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00000052;
    width: 100%;
    margin: 0;
    font-size: 2.5vh;
  }
}
.product:hover span {
  background: #000;
}
.product:hover img {
  border: red groove;
}

@media (max-width: 1000px) {
  .product {
    img {
      width: 190px !important;
      height: 120px !important;
    }

    h2 {
      top: 85%;
      font-size: 1.5vh;
    }

    span {
      font-size: 100%;
    }
  }
}
@media (max-width: 600px) {
  .product {
    img {
      width: 95px !important;
      height: 60px !important;
    }

    h2 {
      top: 85%;
      font-size: 1vh;
    }

    span {
      font-size: 55%;
      transform: translate(-35%, -18%);
    }
  }
}

.expand-button {
  float: left;
  color: white;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.ruler {
  display: flex;
  justify-content: space-between;
}
