<div class="cart-container">
  <h1>עגלת קניות</h1>

  <div *ngIf="productsArray.length > 0">
    <table class="table">
      <tr>
        <th></th>
        <th></th>
        <th>שם</th>
        <th>כמות</th>
        <th>מחיר</th>
      </tr>

      <tr *ngFor="let product of productsArray">
        <td><button mat-icon-button (click)="removeFromCart(product)"><mat-icon svgIcon="delete"></mat-icon></button></td>
        <td><img class="table-image" src="{{product.image}}"></td>
        <td>{{product.name}}</td>
        <td><input matInput class="price-input" type="number" min="0.5" step="0.5" max="10" [(ngModel)]="product.selectedWeight"></td>
        <td>{{product.selectedWeight * product.priceForKilo}}</td>
      </tr>
    </table>

    <div>
      <h1 class="inline margin-left">סה"כ:</h1>
      <h3 class="inline">₪</h3>
      <h1 class="inline animate">{{getTotalPrice()}}</h1>
    </div>
    <button mat-button (click)="makeOrder()">
      <mat-icon svgIcon="credit-card"></mat-icon>
      <span>תשלום</span>
    </button>
  </div>

  <div *ngIf="productsArray.length === 0">
    <h1>עגלת הקניות שלך ריקה אחי, תעמיס תעמיס...</h1>
  </div>
</div>
