.cart-container {
  text-align: -webkit-center;
  direction: rtl;
}

.table {
  text-align: right;
  border: 1px solid red;
  border-collapse: collapse;

  th, td {
    padding: 15px;
    border-bottom: 1px solid red;
  }
}

.table-image {
  height: 50px;
  vertical-align: middle;
}

.price-input {
  width: 3vw;
  text-align: center;
  padding: 0;
  border: 1px solid white;
  border-radius: 10%;
  line-height: 20px;
  margin: 0;
  background: transparent;
  color: white;
}

.margin-left {
  margin-left: 2%;
}
.inline {
  display: inline-table;
}
.animate {
  //todo: animate price total
}
