<app-login></app-login>
<div class="navbar">
  <button mat-icon-button routerLink="/cart">
    <mat-icon svgIcon="cart"></mat-icon>
  </button>
  <button mat-icon-button routerLink="">
    <mat-icon svgIcon="home"></mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
