.make-order-container {
  text-align: center;
}

mat-button-toggle-group {
  border: solid 1px red;
}

mat-button-toggle {
  color: red;
  background-color: black;
}

.mat-button-toggle-checked {
  color: black;
  background-color: red;
  font-weight: bold;
}
