<div class="dialog-body">
  <button mat-icon-button (click)="cancel()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  <div class="make-order-container">
    <mat-button-toggle-group [(ngModel)]="deliveryMode">
      <mat-button-toggle value="0" disabled *matTooltip="'אפשרות משלוח לא קיימת כרגע'">משלוח</mat-button-toggle>
      <mat-button-toggle value="1">איסוף עצמי</mat-button-toggle>
    </mat-button-toggle-group>

    <div [ngSwitch]="deliveryMode">
      <div *ngSwitchCase="0">
        משלוח
      </div>

      <div *ngSwitchCase="1">
        <input type="checkbox" (click)="userConfirm()">
        <span>אני מאשר את ההזמנה, הסכום יכול להשתנות עד 15% בהתאם למשקל ההזמנה בפועל</span>
        <button mat-stroked-button color="accent" (click)="makeOrder()">
          <span>אשר הזמנה</span>
        </button>
      </div>
    </div>
  </div>
</div>
