<div class="dialog-body">
  <button mat-icon-button (click)="cancel()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="0" class="phone-verification-container">
      <h1>הכנס את מספר הפלאפון שלך</h1>
      <h2 style="color: grey">נשלח לך קוד אימות בן 6 ספרות</h2>

      <div class="flexing">
        <mat-form-field appearance="outline" [color]="'accent'">
          <mat-label>מספר הפלאפון שלך</mat-label>
          <input matInput [(ngModel)]="phoneNumber" type="tel" maxlength="10">
        </mat-form-field>

        <button mat-stroked-button color="accent" (click)="sendVerificationCode()">
          <span>שלח</span>
          <mat-icon>textsms</mat-icon>
        </button>
      </div>
    </div>

    <div *ngSwitchCase="1" class="phone-verification-container">
      <h1>שלחנו לך קוד אימות!</h1>
      <h2 style="color: grey">הכנס את הקוד על מנת לאמת את המספר</h2>

      <div class="flexing">
        <mat-form-field appearance="outline" [color]="'accent'">
          <mat-label>קוד אימות</mat-label>
          <input matInput [(ngModel)]="verificationCode" maxlength="4">
        </mat-form-field>

        <button mat-stroked-button color="accent" (click)="verifyCode()">
          <span>אמת</span>
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>

    <div *ngSwitchCase="2" class="phone-verification-container">
      <h1>ברוך הבא לאיטליז ביטון!</h1>
      <h2 style="color: grey">נשמח לדעת מה שמך בבקשה</h2>

      <div class="flexing">
        <mat-form-field appearance="outline" [color]="'accent'">
          <mat-label>שם פרטי</mat-label>
          <input matInput [(ngModel)]="firstName" maxlength="10">
        </mat-form-field>
        <mat-form-field appearance="outline" [color]="'accent'">
          <mat-label>שם משפחה</mat-label>
          <input matInput [(ngModel)]="lastName" maxlength="10">
        </mat-form-field>

        <button mat-stroked-button color="accent" (click)="updateUserName()">
          <span>שלח</span>
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
