/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #000 no-repeat top left;
  background-size: 80%;
  background-image: url("assets/images/bg.png");
  font-size: 15px;
  color: white;
}

.center {
  width: 90%;
  height: 100%;
  margin: auto;
}

@media (min-width: 1795px) {
  .center {
    width: 75%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
  img {
    width: 45px !important;
    height: 35px !important;
  }
}

.dialog {
  mat-dialog-container {
    padding: 0;
    border-radius: 5%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c1c1c1a1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e21f26;
}

.dialog-body {
  direction: rtl;
  background-color: black;
  border: red groove;
  border-radius: 5%;
  color: white;
  min-height: 650px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
