<div *ngIf="allProducts.length > 0">
  <app-products-by-category [title]="'בקר'" [image]="'beef'" [products]="beefProducts"></app-products-by-category>
  <app-products-by-category [title]="'אווז'" [image]="'goose'" [products]="gooseProducts"></app-products-by-category>
</div>
